<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>数据 - AdminLTE2定制版</title>
    <meta name="description" content="AdminLTE2定制版">
    <meta name="keywords" content="AdminLTE2定制版">

    <!-- Tell the browser to be responsive to screen width -->
    <meta
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
            name="viewport">

    <link rel="stylesheet"
          href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="/plugins/ionicons/css/ionicons.min.css">
    <link rel="stylesheet"
          href="/plugins/iCheck/square/blue.css">
    <link rel="stylesheet"
          href="/plugins/morris/morris.css">
    <link rel="stylesheet"
          href="/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet"
          href="/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet"
          href="/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet"
          href="/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet"
          href="/plugins/treeTable/jquery.treetable.css">
    <link rel="stylesheet"
          href="/plugins/treeTable/jquery.treetable.theme.default.css">
    <link rel="stylesheet"
          href="/plugins/select2/select2.css">
    <link rel="stylesheet"
          href="/plugins/colorpicker/bootstrap-colorpicker.min.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <link rel="stylesheet"
          href="/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet"
          href="/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet"
          href="/css/style.css">
    <link rel="stylesheet"
          href="/plugins/ionslider/ion.rangeSlider.css">
    <link rel="stylesheet"
          href="/plugins/ionslider/ion.rangeSlider.skinNice.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-slider/slider.css">
    <link rel="stylesheet" href="/css/vueDefine.css">
</head>

<body class="hold-transition skin-blue sidebar-mini">


<!-- 内容头部 -->
<section class="content-header">
    <h1>
        进货管理
        <small>进货信息</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i
                class="fa fa-dashboard"></i> 首页</a></li>
        <li><a
                href="#">进货管理</a></li>

        <li class="active">进货信息</li>
    </ol>
</section>
<!-- 内容头部 /-->
<!-- 正文区域 -->
<section class="content"> <!-- .box-body -->
    <div id="div1" class="box box-primary" v-cloak>
        <div class="box-header with-border">
            <h3 class="box-title">列表</h3>
        </div>

        <div class="box-body">
            <!-- 数据表格 -->
            <div class="table-box">

                <!--工具栏-->
                <div class="pull-left">
                    <div class="form-group form-inline">
                        <div class="btn-group">
                            <button type="button" class="btn  btn-info btn-sm" @click="searchMyOrder">我的订单</button>
                            <button type="button" class="btn  btn-warning btn-sm" @click="searchAllOrder">所有订单</button>
                            <button v-if="this.orderType==0" type="button" class="btn  btn-info btn-sm"  @click="orderPay">订单支付</button>
                            <button type="button" class="btn btn-success btn-sm"  @click="complete">订单完成处理</button>
                            <button type="button" class="btn btn-default" title="新建"
                                    @click="addPurchaseOrder">
                                <i class="fa fa-file-o"></i> 新建订单
                            </button>

                            <button type="button" class="btn btn-default" title="修改" @click="updatePurchaseOrder"><i
                                    class="fa fa-trash-o"></i> 修改
                            </button>

                            <button type="button" class="btn btn-default" title="删除" @click="deletePurchaseOrder"><i
                                    class="fa fa-trash-o"></i> 删除
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        <button type="button" class="btn btn-block btn-default btn-sm" title="搜索"
                                @click="search"><i class="fa fa-search"></i> 搜索
                        </button>
                    </div>
                </div>
                <div class="box-tools pull-right">
                    <div class="box-tools pull-right">
                        <div class="has-feedback">

                            <select type="text" class="form-control input-sm"
                                    placeholder="状态" v-model="selectOrderStateCondition">
                                <option v-for="orderState in orderState" :value="orderState.value">{{orderState.text}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm"
                                   placeholder="订单编号" v-model="orderIdCondition">
                        </div>
                    </div>
                </div>
                <!--工具栏/-->
                <!--数据列表-->
                <table id="dataList"
                       class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                    <tr>
                        <td></td>
                        <th class="sorting_asc">进货订单编号</th>
                        <th class="sorting_desc">供应商</th>
                        <th class="sorting_desc">经手人</th>
                        <th class="sorting_desc">经手人工号</th>
                        <th class="sorting_desc">金额</th>
                        <th class="sorting_desc">备注</th>
                        <th class="sorting_desc">状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(purchaseOrder) in  pageInfo.list" @dblclick="openDetail(purchaseOrder.id,purchaseOrder.sate)">
                        <td><input name="ids" v-model="selectId" :value="purchaseOrder.id" type="checkbox"></td>
                        <td>{{purchaseOrder.id}}</td>
                        <td>{{purchaseOrder.provider.name}}</td>
                        <td>{{purchaseOrder.operationEmp.name}}</td>
                        <td>{{purchaseOrder.operationEmp.id}}</td>
                        <td>{{purchaseOrder.price}}</td>
                        <td>{{purchaseOrder.remark}}</td>
                        <td v-if="purchaseOrder.sate==-1" style="color: grey;font-weight: bold">待支付</td>
                        <td v-if="purchaseOrder.sate==2" style="color: red;font-weight: bold">处理中</td>
                        <td v-if="purchaseOrder.sate==1" style="color: green;font-weight: bold">完成</td>
                    </tr>
                    </tbody>
                </table>
                <!--数据列表/-->
            </div>
            <!-- 数据表格 /-->

        </div>
        <!-- /.box-body -->

        <!-- .box-footer-->
        <div class="box-footer">
            <div class="pull-left">
                <div class="form-group form-inline">
                    总共{{pageInfo.pages}}页 每页
                    <select class="form-control" v-model="pageInfo.pageSize"
                            @click="getAllPurchaseOrderByPage(pageInfo.pageNum,pageInfo.pageSize,orderIdCondition,selectOrderStateCondition)">
                        <option v-for="opt in options" :value="opt.value">{{opt.text}}</option>
                    </select> 条
                </div>
            </div>

            <div class="box-tools pull-right">
                <ul class="pagination">
                    <li>
                        <a href="javascript:;" @click="getAllPurchaseOrderByPage(pageInfo.firstPage,pageInfo.pageSize,orderIdCondition,selectOrderStateCondition)"
                           aria-label="Previous">首页</a>
                    </li>
                    <li><a href="javascript:;"
                           @click="getAllPurchaseOrderByPage(pageInfo.prePage,pageInfo.pageSize,orderIdCondition,selectOrderStateCondition)">上一页</a></li>
                    <li v-for="n in pageInfo.pages"><a href="javascript:;"
                                                       @click="getAllPurchaseOrderByPage(n,pageInfo.pageSize,orderIdCondition,selectOrderStateCondition)">{{n}}</a>
                    </li>
                    <li><a href="javascript:;"
                           @click="getAllPurchaseOrderByPage(pageInfo.nextPage,pageInfo.pageSize,orderIdCondition,selectOrderStateCondition)">下一页</a></li>
                    <li>
                        <a href="javascript:;" @click="getAllPurchaseOrderByPage(pageInfo.lastPage,pageInfo.pageSize,orderIdCondition,selectOrderStateCondition)"
                           aria-label="Next">尾页</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /.box-footer-->

    </div>
</section>
<!-- 正文区域 /-->

<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/js/vue/axios-0.18.0.js"></script>
<script src="/js/vue/vuejs-2.5.16.js"></script>
<script src="/js/common/entity.js"></script>
<script src="/js/common/common.js"></script>
<script src="/layui/layui.all.js"></script>
<script src="/js/qrCode/qrcode.min.js"></script>
<script>
    var vm = new Vue({
        el: "#div1",
        data: {
            purchaseOrder: purchaseOrder,
            pageInfo: pageInfo,
            options: [
                {text: '4', value: '4'},
                {text: '6', value: '6'},
                {text: '8', value: '8'},
                {text: '10', value: '10'},
            ],
            selectId: [],
            searchPurchaseOrderName: "",
            orderState: [
                {text: '状态选择', value: ""},
                {text: '待支付', value: -1},
                {text: '处理中', value: 2},
                {text: '已完成', value: 1},
            ],
            selectOrderStateCondition: "",
            orderIdCondition:"",
            //订单类型主要用与区分进货订单还是退货订单
            orderType:"",
            isMySelf:"",
            //选中的订单
            theOrder: ""
        },
        methods: {
            //新建订单
            addPurchaseOrder() {
                return location.href = "purchaseOrder-d.html?type=0&orderType=" + this.orderType + "";
            },

            //搜索
            search: function () {
                this.getAllPurchaseOrderByPage(this.pageInfo.pageNum, this.pageInfo.pageSize, this.orderIdCondition, this.selectOrderStateCondition, this.isMySelf);
            },

            //查询所有 订单
            searchAllOrder() {
                this.isMySelf = false;
                this.getAllPurchaseOrderByPage(this.pageInfo.pageNum, this.pageInfo.pageSize, this.orderIdCondition, this.selectOrderStateCondition, this.isMySelf);
            },
            //我的订单
            searchMyOrder() {
                this.isMySelf = true;
                this.getAllPurchaseOrderByPage(this.pageInfo.pageNum, this.pageInfo.pageSize, this.orderIdCondition, this.selectOrderStateCondition, this.isMySelf);
            },


            //获得订单
            getAllPurchaseOrderByPage(pageNum, pageSize, orderIdCondition, selectOrderStateCondition, isMySelf) {
                _this = this;
                axios.post("/purchaseOrder/findPurchaseOrder",
                    {
                        pageNum: pageNum,
                        pageSize: pageSize,
                        orderIdCondition: orderIdCondition,
                        selectOrderStateCondition: selectOrderStateCondition,
                        orderType: _this.orderType,
                        isMySelf: isMySelf
                    }
                ).then(function (res) {
                    if (res.data.code == 0) {
                        _this.pageInfo = res.data.data;
                    }
                });
            },

            //打开订单详情
            openDetail(orderIdCondition,orderState) {
                return location.href = "purchaseOrder-d.html?type=1&orderIdCondition=" + orderIdCondition +
                    "&orderType=" + this.orderType +
                    "&orderState="+orderState+"";
            },

            //删除订单
            deletePurchaseOrder() {
                let _this = this;
                if (this.selectId.length <= 0) {
                    alert("请选中订单");
                    return;
                }
                //查询所选订单
                this.getSelectOrder();
                if(_this.theOrder.sate == 2){
                    alert("订单处理中，无法进行删除");
                    return;
                }
                if (confirm("确定删除吗？")) {
                    axios.post("/purchaseOrder/delete", _this.selectId).then(function (res) {
                        if (res.data.data > 0) {
                            alert("删除成功");
                            window.location.reload();
                        } else {
                            alert("删除失败");
                        }
                    })
                }
            },

            //更新订单
            updatePurchaseOrder() {
                let _this = this;
                if (this.selectId.length <= 0) {
                    alert("请选中订单");
                    return;
                }
                //查询所选订单
                this.getSelectOrder();
                if(_this.theOrder.sate != -1){
                    alert("订单已支付，无法进行修改");
                    return;
                }
                return location.href = "purchaseOrder-d.html?type=1&orderIdCondition=" + this.selectId[0] + "&orderType=" + this.orderType + "";
            },

            //订单支付
            orderPay() {
                let _this = this;
                if (_this.selectId.length <= 0) {
                    alert("请选中订单");
                    return;
                }
                //查询所选订单
                this.getSelectOrder();
                if(_this.theOrder.sate != -1){
                    alert("订单已支付");
                    return;
                }
                _this.selectId.splice(0,_this.selectId.length);
                if(confirm("确认支付？支付成功后不可更改")){
                    Modalshow("/pages/qrCode/qrCode.html", "支付", _this.theOrder.price);
                }
            },

            //获得扫码支付情况
            getQrCodeRet(obj){
                if(obj == 1){
                        var _this = this;
                        axios.post("/purchaseOrder/updateState",{
                            orderId:_this.theOrder.id,
                            orderState:2//处理中状态
                        }).then(function (ret) {
                            if (ret.data.data == 1) {
                                alert("支付成功");
                                location.href = "purchaseOrder-list.html?orderType=" + _this.orderType + "";
                            }
                        })
                }else{
                    setTimeout(function(){alert("支付失败")},1000);
                }
            },

            //获得选中订单
            getSelectOrder(){
                var purchaseOrderList = _this.pageInfo.list;
                //查询该订单
                for (let i = 0; i < purchaseOrderList.length; i++) {
                    if(_this.selectId[0] == purchaseOrderList[i].id){
                        _this.theOrder = purchaseOrderList[i]
                        break;
                    }
                }
            },

            //订单完成处理
            complete(){
                let _this = this;
                if (_this.selectId.length <= 0) {
                    alert("请选中订单");
                    return;
                }
                //查询所选订单
                this.getSelectOrder();
                if(_this.theOrder.sate == -1){
                    alert("订单未支付");
                }else if(_this.theOrder.sate == 1){
                    alert("订单已经处理");
                }else{//开始处理
                    if(confirm("订单确认完成？")){
                        axios.post("/purchaseOrder/orderOver",{
                            id:_this.theOrder.id,
                            selectOrderStateCondition:2,
                            orderType:_this.orderType
                        }).then(function (ret) {
                            if (ret.data.data == 1) {
                                alert("处理成功，已成功入库");
                                location.href = "purchaseOrder-list.html?orderType=" + _this.orderType + "";
                            }
                        })
                    }
                }
            }

        },

        created() {
            this.orderType = getUrlKey('orderType');
            this.getAllPurchaseOrderByPage(this.pageInfo.pageNum, this.pageInfo.pageSize, this.searchPurchaseOrderName);
        }
    });
</script>
</body>

</html>