<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>社区商店进销存系统</title>
    <meta name="description" content="AdminLTE2定制版">
    <meta name="keywords" content="AdminLTE2定制版">

    <!-- Tell the browser to be responsive to screen width -->
    <meta
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
            name="viewport">


    <link rel="stylesheet"
          href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="/plugins/ionicons/css/ionicons.min.css">
    <link rel="stylesheet"
          href="/plugins/iCheck/square/blue.css">
    <link rel="stylesheet"
          href="/plugins/morris/morris.css">
    <link rel="stylesheet"
          href="/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet"
          href="/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet"
          href="/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet"
          href="/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet"
          href="/plugins/treeTable/jquery.treetable.css">
    <link rel="stylesheet"
          href="/plugins/treeTable/jquery.treetable.theme.default.css">
    <link rel="stylesheet"
          href="/plugins/select2/select2.css">
    <link rel="stylesheet"
          href="/plugins/colorpicker/bootstrap-colorpicker.min.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <link rel="stylesheet"
          href="/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet"
          href="/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet"
          href="/css/style.css">
    <link rel="stylesheet"
          href="/plugins/ionslider/ion.rangeSlider.css">
    <link rel="stylesheet"
          href="/plugins/ionslider/ion.rangeSlider.skinNice.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-slider/slider.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/css/vueDefine.css">
</head>

<body class="hold-transition skin-purple sidebar-mini">


<!-- 内容头部 -->
<section class="content-header">
    <h1>
        进货管理
        <small>添加订单</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i
                class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">进货管理</a></li>
        <li class="active">添加订单</li>
    </ol>
</section>
<!-- 内容头部 /-->

<div id="div1" v-cloak>
    <!-- 正文区域 -->

    <section class="content">
        <div classs="panel panel-default">
            <h3 class="panel-heading">进货订单信息</h3>
            <div class="row data-type">
                <div class="col-md-2 title">供货商</div>
                <div v-if="this.orderType==0" class="col-md-2 data">
                    <select type="text" class="form-control input-sm"
                            placeholder="厂家" v-model="purchaseOrder.provider.id">
                        <option v-for="provider in providers" :value="provider.value">{{provider.text}}</option>
                    </select>
                </div>

                <div v-if="this.orderType==1" class="col-md-2 data">
                    <input type="text" class="form-control input-sm"placeholder="厂家"  readonly v-model="purchaseOrder.provider.id"/>
                </div>

                <div class="col-md-2 title">经手人</div>
                <div class="col-md-2 data">
                    <select type="text" class="form-control input-sm"
                            placeholder="经手人" v-model="purchaseOrder.operationEmp.id">
                        <option v-for="emp in emps" :value="emp.value">{{emp.text}}</option>
                    </select>
                </div>

                <div  v-if="this.orderType==0" class="col-md-2 title">总金额</div>
                <div  v-if="this.orderType==0" class="col-md-2 data">
                    <input readonly="readonly" type="text" class="form-control" name="name"
                           placeholder="总金额" v-model="purchaseOrder.price">
                </div>


                <div class="col-md-2 title">备注</div>
                <div class="col-md-2 data">
                    <input  type="text" class="form-control" name="name"
                           placeholder="备注" v-model="purchaseOrder.remark">
                </div>
            </div>
        </div>
        <div classs="panel panel-default">
            <h3 class="panel-heading">进货商品明细</h3>
            <div class="box-body">
                <!-- 数据表格 -->
                <div class="table-box">

                    <!--工具栏-->
                    <div class="pull-left">
                        <div class="form-group form-inline">
                            <div class="btn-group">
                                <button v-show="this.orderState!=2&&this.orderState!=1" type="button" class="btn btn-default" title="商品选择"
                                        @click="selectGoods()">
                                    <i class="fa fa-file-o"></i> 商品选择
                                </button>
                                <button  v-show="this.orderState!=2&&this.orderState!=1&&this.orderType==0" type="button" class="btn btn-default" title="删除" @click="addGoodPur()"><i
                                        class="fa fa-trash-o"></i> 新增
                                </button>
                                <button  v-show="this.orderState!=2&&this.orderState!=1" type="button" class="btn btn-default" title="删除" @click="deletePurchaseOrder"><i
                                        class="fa fa-trash-o"></i> 删除
                                </button>
                                <button  v-show="this.orderState!=2&&this.orderState!=1" type="button" class="btn btn-default" title="修改" @click="updatePurchaseOrder"><i
                                        class="fa fa-trash-o"></i> 修改
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--工具栏/-->
                    <!--数据列表-->
                    <table id="dataList"
                           class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                        <tr>
                            <td></td>
                            <th class="sorting_asc">行号</th>
                            <th class="sorting_desc">仓库</th>
                            <th class="sorting_desc">商品名称</th>
                            <th class="sorting_desc">商品编号</th>
                            <th class="sorting_desc">商品型号</th>
                            <th class="sorting_desc">规格</th>
                            <th class="sorting_desc">单位</th>
                            <th class="sorting_desc">单价</th>
                            <th class="sorting_desc">数量</th>
                            <th class="sorting_desc">税率（%）</th>
                            <th class="sorting_desc">含税单价</th>
                            <th class="sorting_desc">其它金额</th>
                            <th class="sorting_desc">应付金额</th>
                            <th class="sorting_desc">备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(goodPurInfo) in  purchaseOrder.purchaseOrderDetailList" @dblclick="">
                            <td><input name="ids" v-model="selectId" :value="goodPurInfo.id" type="checkbox"></td>
                            <td>{{goodPurInfo.id}}</td>
                            <td>{{goodPurInfo.repository.name}}</td>
                            <td>{{goodPurInfo.good.name}}</td>
                            <td>{{goodPurInfo.good.id}}</td>
                            <td>{{goodPurInfo.good.type}}</td>
                            <td>{{goodPurInfo.good.size}}</td>
                            <td>{{goodPurInfo.good.unit}}</td>
                            <td>{{goodPurInfo.good.cost}}</td>
                            <td>{{goodPurInfo.gooNum}}</td>
                            <td>{{goodPurInfo.gooTax}}</td>
                            <td>{{goodPurInfo.gooTaxPrc}}</td>
                            <td>{{goodPurInfo.gooOtherPrice}}</td>
                            <td>{{goodPurInfo.gooTotalPrice}}</td>
                            <td>{{goodPurInfo.gooRemark}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--数据列表/-->
                </div>
                <!-- 数据表格 /-->

            </div>
            <!-- /.box-body -->

            <!-- .box-footer-->
            <!-- /.box-footer-->
        </div>
        <div id="footBtn" class="box-tools text-center">
            <button v-show="this.type==0&&this.orderState!=2&&this.orderState!=1" type="button" id="saveBtn" class="btn bg-maroon" @click="save()">保存</button>
            <button v-show="this.type==1&&this.orderState!=2&&this.orderState!=1" type="button" id="updateBtn" class="btn bg-maroon" @click="update()">修改</button>
            <button type="button" class="btn bg-default"
                    onclick="history.back(-1);">返回
            </button>
        </div>
        <!--工具栏/-->
    </section>

    <!-- 正文区域 /-->
</div>
<!-- 内容区域 /-->


<script
        src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/js/vue/axios-0.18.0.js"></script>
<script src="/js/vue/vuejs-2.5.16.js"></script>
<script src="/js/common/common.js"></script>
<script src="/js/common/entity.js"></script>
<script src="/layui/layui.all.js"></script>
<script src="/js/qrCode/qrcode.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#province').click(function () {
            var pId = this.value;
            if (pId == 2 || pId == 19 || pId == 857) {
                vm.loadArea(pId, 'z', vm.area)
            } else {
                vm.loadArea(pId, 'city', vm.area)
            }
        });
    });
</script>
<script>
    var vm = new Vue({
        el: "#div1",
        data: {
            purchaseOrder: purchaseOrder,
            providers: [
                {text: "请选择", value: ""}
            ],
            emps: [
                {text: "请选择", value: ""}
            ],
            selectId: [],
            type: "",
            typeC: 0,
            orderType:"",
            orderState:""
        },
        methods: {
            selectGoods(){
                if(this.orderType == 0){
                    Modalshow("goodStock-list.html","商品选择");
                }else{
                    Modalshow("goodStock-list-back.html","商品选择");
                }
            },

            //获得子页goodPurInfo-d.html（添加商品）面传来的值
            getValue(obj) {
                if (this.typeC == 0) {
                    obj.id = this.purchaseOrder.purchaseOrderDetailList.length + 1;
                    this.purchaseOrder.purchaseOrderDetailList.push(obj);
                } else if (this.typeC == 1) {
                    var index = -1;
                    for (let i = 0; i < this.purchaseOrder.purchaseOrderDetailList.length; i++) {
                        if (this.purchaseOrder.purchaseOrderDetailList[i].id == obj.id) {
                            index = i;
                            break;
                        }
                    }
                    Vue.set(this.purchaseOrder.purchaseOrderDetailList, index, {
                        "gooNum": obj.gooNum,
                        "gooOtherPrice": obj.gooOtherPrice,
                        "gooRemark": obj.gooRemark,
                        "gooTax": obj.gooTax,
                        "gooTaxPrc": obj.gooTaxPrc,
                        "gooTotalPrice": obj.gooTotalPrice,
                        "good": obj.good,
                        "id": obj.id,
                        "repository": obj.repository
                    });
                }
                this.calculateTotalAmount();
            },

            //获得扫码支付情况
            getQrCodeRet(obj){
                if(obj == 1){
                    setTimeout(function(){alert("支付成功")},1000);
                    setTimeout(function(){
                        var _this = this;
                        axios.post("/purchaseOrder/insert",_this.purchaseOrder).then(function (ret) {
                            if(ret.data.data==1){
                                alert("下单成功");
                                location.href = "purchaseOrder-list.html?orderType="+_this.orderType+"";
                            }
                        })},1000);
                }else{
                    setTimeout(function(){alert("请支付")},1000);
                }
            },

            //获得所有的厂家
            getAllProvider: function () {
                _this = this;
                axios.post("/provider/findProviderByNoPage").then(function (res) {
                    if (res.data.code == 0) {
                        var ret = res.data.data;
                        for (let i = 0; i < ret.length; i++) {
                            var opt = new Object();
                            opt.value = ret[i].id;
                            opt.text = ret[i].name;
                            _this.providers.push(opt);
                        }
                    }
                });
            },

            //获得所有的员工信息
            getAllEmpByNoPage() {
                _this = this;
                axios.post("/emp/queryByNoPage").then(function (res) {
                    if (res.data.code == 0) {
                        var ret = res.data.data;
                        for (let i = 0; i < ret.length; i++) {
                            var opt = new Object();
                            opt.value = ret[i].id;
                            opt.text = ret[i].id;
                            _this.emps.push(opt);
                        }
                    }
                });
            },


            //增加商品
            addGoodPur() {
                this.typeC = 0;
                Modalshow("goodPurInfo-d.html?type=0", "新增");
            },

            //删除商品明细
            deletePurchaseOrder() {
                let _this = this;
                if (this.selectId.length <= 0) {
                    alert("请选中商品");
                    return;
                }
                if (confirm("确定删除吗？")) {
                    for (let i = 0; i < this.selectId.length; i++) {
                        this.purchaseOrder.purchaseOrderDetailList.remove(this.selectId[i]);
                    }
                    this.calculateTotalAmount();
                }
                this.selectId.splice(0,this.selectId.length);
            },

            //更新商品明细
            updatePurchaseOrder() {
                let _this = this;
                let ret = new Object();
                this.typeC = 1;
                if (this.selectId.length <= 0) {
                    alert("请选中商品");
                    return;
                }
                for (let i = 0; i < this.purchaseOrder.purchaseOrderDetailList.length; i++) {
                    if (this.purchaseOrder.purchaseOrderDetailList[i].id == this.selectId[0]) {
                        ret = this.purchaseOrder.purchaseOrderDetailList[i];
                        break;
                    }
                }
                Modalshow("goodPurInfo-d.html?type=1&orderType="+_this.orderType+"", "更新", ret);
            },

            //计算总金额
            calculateTotalAmount() {
                this.purchaseOrder.price = 0;
                for (let i = 0; i < this.purchaseOrder.purchaseOrderDetailList.length; i++) {
                    this.purchaseOrder.price += this.purchaseOrder.purchaseOrderDetailList[i].gooTotalPrice;
                }
            },
            //修改订单
            update(){
                var _this = this;
                axios.post("/purchaseOrder/update",_this.purchaseOrder).then(function (ret) {
                    if(ret.data.data==1){
                        alert("修改成功");
                        location.href = "purchaseOrder-list.html?orderType="+_this.orderType+"";
                    }
                })
            },

            //订单保存
            save() {
               var _this = this;
                axios.post("/purchaseOrder/insert",_this.purchaseOrder).then(function (ret) {
                    if(ret.data.data==1){
                        alert("添加成功，请尽快支付");
                        location.href = "purchaseOrder-list.html?orderType="+_this.orderType+"";
                    }
                })
            },


            //从系统中获得订单
            getAllPurchaseOrderByPage(pageNum, pageSize, orderIdCondition,selectOrderStateCondition) {
                _this = this;
                axios.post("/purchaseOrder/findPurchaseOrder",
                    {pageNum: pageNum,
                        pageSize: pageSize,
                        orderIdCondition: orderIdCondition,
                        selectOrderStateCondition:selectOrderStateCondition,
                        orderType:this.orderType
                    }
                ).then(function (res) {
                    if (res.data.code == 0) {
                        var purchaseOrder = res.data.data.list[0];
                        var purchaseOrderDataList = purchaseOrder.purchaseOrderDetailList;
                        for (let i = 0; i < purchaseOrderDataList.length; i++) {
                            purchaseOrderDataList[i].id = i+1;
                        }
                        _this.purchaseOrder = purchaseOrder;
                    }
                });
            },
        },

        created() {
            this.type = getUrlKey('type');
            this.orderType = getUrlKey('orderType');
            this.orderState = getUrlKey("orderState");
            if(this.orderState == 2 || this.orderState == 1){
                $(".form-control").attr('readonly',true)
            }
            this.purchaseOrder.type =  this.orderType;
            if( this.type == 0){
                this.getAllEmpByNoPage();
                this.getAllProvider();
            }else if(this.type == 1){
                var orderIdCondition = getUrlKey('orderIdCondition');
                this.getAllPurchaseOrderByPage(1, 20, orderIdCondition);
                this.getAllEmpByNoPage();
                this.getAllProvider();
            }
        }
    });
</script>

</body>

</html>