<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keji.mapper.sell.DeptSellStaticsMapper">

    <resultMap id="deptSellStaticsMap" type="DeptSellStatics">
        <result column="totalNum" property="totalNum"/>
        <result column="deptName" property="deptName"/>
        <result column="deptId" property="deptId"/>
        <result column="everyTimeStr" property="everyTimeStr"/>
    </resultMap>

    <select id="queryDeptSellStatics" resultMap="deptSellStaticsMap">
        SELECT dept.`deptId`,dept.`deptName`,tso.totalNum,tso.months AS everyTimeStr
        FROM  t_dept dept
        LEFT JOIN(
        SELECT t_sell_order.`t_deptId`,SUM(t_totalNum) AS totalNum,DATE_FORMAT(t_sell_order.`t_create_date`,'%Y%m') months
        FROM t_sell_order GROUP BY t_sell_order.`t_deptId`,months
        ) tso ON dept.`deptId` = tso.`t_deptId`
        WHERE  STR_TO_DATE(months,'%Y') = STR_TO_DATE('${year}','%Y')
        <if test="deptId">
            AND dept.`deptId` = #{deptId}
        </if>
    </select>
</mapper>