<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>社区商店进销存系统</title>
    <meta name="description" content="AdminLTE2定制版">
    <meta name="keywords" content="AdminLTE2定制版">

    <!-- Tell the browser to be responsive to screen width -->
    <meta
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
            name="viewport">


    <link rel="stylesheet"
          href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="/plugins/ionicons/css/ionicons.min.css">
    <link rel="stylesheet"
          href="/plugins/iCheck/square/blue.css">
    <link rel="stylesheet"
          href="/plugins/morris/morris.css">
    <link rel="stylesheet"
          href="/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet"
          href="/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet"
          href="/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet"
          href="/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet"
          href="/plugins/treeTable/jquery.treetable.css">
    <link rel="stylesheet"
          href="/plugins/treeTable/jquery.treetable.theme.default.css">
    <link rel="stylesheet"
          href="/plugins/select2/select2.css">
    <link rel="stylesheet"
          href="/plugins/colorpicker/bootstrap-colorpicker.min.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <link rel="stylesheet"
          href="/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet"
          href="/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet"
          href="/css/style.css">
    <link rel="stylesheet"
          href="/plugins/ionslider/ion.rangeSlider.css">
    <link rel="stylesheet"
          href="/plugins/ionslider/ion.rangeSlider.skinNice.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-slider/slider.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/css/vueDefine.css">
</head>

<body class="hold-transition skin-purple sidebar-mini">


<!-- 内容头部 -->
<section class="content-header">
    <h1>
        调拨管理
        <small>添加订单</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i
                class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">调拨管理</a></li>
        <li class="active">添加订单</li>
    </ol>
</section>
<!-- 内容头部 /-->

<div id="div1" v-cloak>
    <!-- 正文区域 -->

    <section class="content">
        <div classs="panel panel-default">
            <h3 class="panel-heading">调货单信息</h3>
            <div class="row data-type">
                <div>
                    <div class="col-md-2 title">调出部门</div>
                    <div class="col-md-2 data">
                        <select type="text" class="form-control input-sm"
                                placeholder="调出部门" v-model="allot.outDeptId" @click="getAllRepository(allot.outDeptId,outRepositories,allot.outRep)">
                            <option v-for="outDept in outDepts" :value="outDept.value">{{outDept.text}}</option>
                        </select>
                    </div>
                </div>

                <div>
                    <div class="col-md-2 title">调出仓库</div>
                    <div class="col-md-2 data">
                        <select type="text" class="form-control input-sm"
                                placeholder="调出仓库" v-model="allot.outRepId">
                            <option v-for="outTheRepository in outRepositories" :value="outTheRepository.value">
                                {{outTheRepository.text}}
                            </option>
                        </select>
                    </div>
                </div>

                <div>
                    <div class="col-md-2 title">调入部门</div>
                    <div class="col-md-2 data">
                        <input type="text" class="form-control" name="allot.inDeptId"
                               placeholder="调入部门" v-model="allot.inDept.deptName" readonly>
                    </div>
                </div>

                <div>
                    <div class="col-md-2 title">调入仓库</div>
                    <div class="col-md-2 data">
                        <select type="text" class="form-control input-sm"
                                placeholder="调入仓库" v-model="allot.inRepId">
                            <option v-for="inTheRepository in inRepositories" :value="inTheRepository.value">{{inTheRepository.text}}</option>
                        </select>
                    </div>
                </div>

                <div>
                    <div class="col-md-2 title">经手人</div>
                    <div class="col-md-2 data">
                        <select type="text" class="form-control input-sm"
                                placeholder="经手人" v-model="allot.empId">
                            <option v-for="emp in emps" :value="emp.value">{{emp.text}}</option>
                        </select>
                    </div>
                </div>

                <div>
                    <div class="col-md-2 title">备注</div>
                    <div class="col-md-2 data">
                        <input type="text" class="form-control" name="name"
                               placeholder="备注" v-model="allot.remark">
                    </div>
                </div>
            </div>


        </div>
        <div classs="panel panel-default">
            <h3 class="panel-heading">调拨商品明细</h3>
            <div class="box-body">
                <!-- 数据表格 -->
                <div class="table-box">

                    <!--工具栏-->
                    <div class="pull-left">
                        <div class="form-group form-inline">
                            <div class="btn-group">
                                <button v-show="this.orderState!=2&&this.orderState!=1" type="button"
                                        class="btn btn-default" title="商品选择"
                                        @click="selectGoods()">
                                    <i class="fa fa-file-o"></i> 商品选择
                                </button>

                                <button v-show="this.orderState!=2&&this.orderState!=1" type="button"
                                        class="btn btn-default" title="删除" @click="deleteallot"><i
                                        class="fa fa-trash-o"></i> 删除
                                </button>
                                <button v-show="this.orderState!=2&&this.orderState!=1" type="button"
                                        class="btn btn-default" title="修改" @click="updateallot"><i
                                        class="fa fa-trash-o"></i> 修改
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--工具栏/-->
                    <!--数据列表-->
                    <table id="dataList"
                           class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                        <tr>
                            <td></td>
                            <th class="sorting_asc">行号</th>
                            <th class="sorting_desc">商品名称</th>
                            <th class="sorting_desc">商品编号</th>
                            <th class="sorting_desc">商品型号</th>
                            <th class="sorting_desc">规格</th>
                            <th class="sorting_desc">单位</th>
                            <th class="sorting_desc">数量</th>
                            <th class="sorting_desc">备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(goodPurInfo) in  allot.allotOrderDetail" @dblclick="">
                            <td><input name="ids" v-model="selectId" :value="goodPurInfo.id" type="checkbox"></td>
                            <td>{{goodPurInfo.rowId}}</td>
                            <td>{{goodPurInfo.good.name}}</td>
                            <td>{{goodPurInfo.good.id}}</td>
                            <td>{{goodPurInfo.good.type}}</td>
                            <td>{{goodPurInfo.good.size}}</td>
                            <td>{{goodPurInfo.good.unit}}</td>
                            <td>{{goodPurInfo.gooNum}}</td>
                            <td>{{goodPurInfo.remark}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--数据列表/-->
                </div>
                <!-- 数据表格 /-->

            </div>
            <!-- /.box-body -->

            <!-- .box-footer-->
            <!-- /.box-footer-->
        </div>
        <div id="footBtn" class="box-tools text-center">
            <button v-show="this.type==0&&this.orderState!=2&&this.orderState!=1" type="button" id="saveBtn"
                    class="btn bg-maroon" @click="save()">保存
            </button>
            <button v-show="this.type==1&&this.orderState!=2&&this.orderState!=1" type="button" id="updateBtn"
                    class="btn bg-maroon" @click="update()">修改
            </button>
            <button type="button" class="btn bg-default"
                    onclick="history.back(-1);">返回
            </button>
        </div>
        <!--工具栏/-->
    </section>

    <!-- 正文区域 /-->
</div>
<!-- 内容区域 /-->


<script
        src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/js/vue/axios-0.18.0.js"></script>
<script src="/js/vue/vuejs-2.5.16.js"></script>
<script src="/js/common/common.js"></script>
<script src="/js/common/entity.js"></script>
<script src="/layui/layui.all.js"></script>
<script src="/js/qrCode/qrcode.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#province').click(function () {
            var pId = this.value;
            if (pId == 2 || pId == 19 || pId == 857) {
                vm.loadArea(pId, 'z', vm.area)
            } else {
                vm.loadArea(pId, 'city', vm.area)
            }
        });
    });
</script>
<script>
    var vm = new Vue({
        el: "#div1",
        data: {
            allot:allot,
            //调出部门
            outDepts: [
                {text: "请选择", value: ""}
            ],
            //调出部门仓库
            outRepositories: [],
            //调入部门
            //调入部门仓库
            inRepositories: [],
            inRepository: "",
            //经手人
            emps: [
                {text: "请选择", value: ""}
            ],
            selectId: [],
            type: "",
            typeC: 0,
            orderState: "",
            emp:""
        },
        methods: {
            selectGoods() {
                if(this.allot.outRepId==""){
                    alert("请选择调出仓库");
                }else if(this.allot.inRepId==""){
                    alert("请选择调入仓库");
                }else{
                    Modalshow("allotGoodStock-list.html", "商品选择",this.allot.outRepId);
                }
            },

            //获得子页goodPurInfo-d.html（添加商品）面传来的值
            getValue(obj) {
                if (this.typeC == 0) {
                    obj.rowId = this.allot.allotOrderDetail.length + 1;
                    this.allot.allotOrderDetail.push(obj);
                } else if (this.typeC == 1) {
                    var index = -1;
                    for (let i = 0; i < this.allot.allotOrderDetail.length; i++) {
                        if (this.allot.allotOrderDetail[i].rowId == obj.rowId) {
                            index = i;
                            break;
                        }
                    }
                    Vue.set(this.allot.allotOrderDetail, index, {
                        "gooNum": obj.gooNum,
                        "gooOtherPrice": obj.gooOtherPrice,
                        "remark": obj.remark,
                        "gooTax": obj.gooTax,
                        "gooTaxPrc": obj.gooTaxPrc,
                        "gooTotalPrice": obj.gooTotalPrice,
                        "good": obj.good,
                        "rowId": obj.rowId,
                        "id": obj.id,
                        "repository": obj.repository
                    });
                }
            },


            //获得调出部门
            getAllDepts: function (deptId) {
                _this = this;
                axios.post("/dept/findAllDept",{
                    deptId:deptId
                }).then(function (res) {
                    if (res.data.code == 0) {
                        var ret = res.data.data;
                        for (let i = 0; i < ret.length; i++) {
                            var opt = new Object();
                            opt.value = ret[i].id;
                            opt.text = ret[i].deptName;
                            _this.outDepts.push(opt);
                        }
                    }
                });
            },

            //获得对应部门仓库
            getAllRepository: function (deptId, relationDepts, selectRelation) {
                _this = this;
                selectRelation = "";
                relationDepts.splice(0, relationDepts.length);
                axios.post("/repository/findRepositoryByNoPage", {
                    deptId: deptId
                }).then(function (res) {
                    if (res.data.code == 0) {
                        var ret = res.data.data;
                        for (let i = 0; i < ret.length; i++) {
                            var opt = new Object();
                            opt.value = ret[i].id;
                            opt.text = ret[i].name;
                            relationDepts.push(opt);
                        }
                    }
                });
            },


            //获得所有的员工信息
            getAllEmpByNoPage() {
                _this = this;
                var emp = getEmp();
                axios.post("/emp/queryByNoPage1",{
                    deptId:emp.dept.id
                }).then(function (res) {
                    if (res.data.code == 0) {
                        var ret = res.data.data;
                        for (let i = 0; i < ret.length; i++) {
                            var opt = new Object();
                            opt.value = ret[i].id;
                            opt.text = ret[i].name;
                            _this.emps.push(opt);
                        }
                    }
                });
            },



            //删除商品明细
            deleteallot() {
                let _this = this;
                if (this.selectId.length <= 0) {
                    alert("请选中商品");
                    return;
                }
                if (confirm("确定删除吗？")) {
                    for (let i = 0; i < this.selectId.length; i++) {
                        this.allot.allotOrderDetail.remove(this.selectId[i]);
                    }
                }
                this.selectId.splice(0, this.selectId.length);
            },

            //更新商品明细
            updateallot() {
                let _this = this;
                let ret = new Object();
                this.typeC = 1;
                if (this.selectId.length <= 0) {
                    alert("请选中商品");
                    return;
                }
                for (let i = 0; i < this.allot.allotOrderDetail.length; i++) {
                    if (this.allot.allotOrderDetail[i].id == this.selectId[0]) {
                        ret = this.allot.allotOrderDetail[i];
                        break;
                    }
                }
                Modalshow("allotGoodPurInfo-d.html?type=1", "更新", ret);
            },

            //修改订单
            update() {
                var _this = this;
                axios.post("/allotOrder/update", _this.allot).then(function (ret) {
                    if (ret.data.data == 1) {
                        alert("修改成功");
                        location.href = "allotOrder-list.html";
                    }
                })
            },

            //订单保存
            save() {
                var _this = this;
                axios.post("/allotOrder/insert", _this.allot).then(function (ret) {
                    if (ret.data.data == 1) {
                        alert("添加成功");
                        location.href = "allotOrder-list.html";
                    }
                })
            },

            //从系统中获得订单
            getAllallotByPage(pageNum, pageSize, orderIdCondition, selectOrderStateCondition) {
                var _this = this;
                axios.post("/allotOrder/query",
                    {
                        pageNum: pageNum,
                        pageSize: pageSize,
                        orderIdCondition: orderIdCondition,
                        selectOrderStateCondition: selectOrderStateCondition,
                    }
                ).then(function (res) {
                    if (res.data.code == 0) {
                        var allot = res.data.data.list[0];
                        _this.getAllRepository(allot.outDeptId,_this.outRepositories,allot.outRepId);
                        var allotDataList = allot.allotOrderDetail;
                        for (let i = 0; i < allotDataList.length; i++) {
                            allotDataList[i].rowId = i + 1;
                        }
                        _this.allot = allot;
                    }
                });
            },
        },

        created() {
            this.type = getUrlKey('type');
            this.orderState = getUrlKey("orderState");
            //获得员工
            this.emp = getEmp();
            this.allot.inDept.deptName = this.emp.dept.deptName;
            this.allot.inDeptId = this.emp.dept.id;
            //获得调入仓库
            this.getAllRepository(this.emp.deptId,this.inRepositories,this.allot.inDept);
            //获得员工部门
            if (this.orderState == 2 || this.orderState == 1) {
                $(".form-control").attr('readonly', true)
            }
            if (this.type == 0) {
                this.getAllEmpByNoPage();
                this.getAllDepts();
            } else if (this.type == 1) {
                var orderIdCondition = getUrlKey('orderIdCondition');
                this.getAllallotByPage(1, 20, orderIdCondition);
                this.getAllEmpByNoPage();
                this.getAllDepts();
            }
        }
    });
</script>

</body>

</html>