<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>数据 - AdminLTE2定制版</title>
    <meta name="description" content="AdminLTE2定制版">
    <meta name="keywords" content="AdminLTE2定制版">

    <!-- Tell the browser to be responsive to screen width -->
    <meta
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
            name="viewport">

    <link rel="stylesheet"
          href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="/plugins/ionicons/css/ionicons.min.css">
    <link rel="stylesheet"
          href="/plugins/iCheck/square/blue.css">
    <link rel="stylesheet"
          href="/plugins/morris/morris.css">
    <link rel="stylesheet"
          href="/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet"
          href="/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet"
          href="/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet"
          href="/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet"
          href="/plugins/treeTable/jquery.treetable.css">
    <link rel="stylesheet"
          href="/plugins/treeTable/jquery.treetable.theme.default.css">
    <link rel="stylesheet"
          href="/plugins/select2/select2.css">
    <link rel="stylesheet"
          href="/plugins/colorpicker/bootstrap-colorpicker.min.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <link rel="stylesheet"
          href="/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet"
          href="/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet"
          href="/css/style.css">
    <link rel="stylesheet"
          href="/plugins/ionslider/ion.rangeSlider.css">
    <link rel="stylesheet"
          href="/plugins/ionslider/ion.rangeSlider.skinNice.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-slider/slider.css">
    <link rel="stylesheet" href="/css/vueDefine.css">
</head>

<body style="height: 500px">


<!-- 内容头部 -->
<section class="content-header">
    <h1>
        员工管理
        <small>全部员工</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/index.html"><i
                class="fa fa-dashboard"></i> 首页</a></li>
        <li><a>员工管理</a></li>

        <li class="active">全部员工</li>
    </ol>
</section>
<!-- 内容头部 /-->

<!-- 正文区域 -->
<section class="content"> <!-- .box-body -->
    <div id="div1" class="box box-primary"  v-cloak>
        <div class="box-header with-border">
            <h3 class="box-title">列表</h3>
        </div>

        <div class="box-body">

            <!-- 数据表格 -->
            <div class="table-box">

                <!--工具栏-->
                <div class="pull-left">
                    <div class="form-group form-inline">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" title="新建"
                                    onclick="location.href='emp-d.html?type=0'">
                                <i class="fa fa-file-o"></i> 新建
                            </button>
                            <button type="button" class="btn btn-default" title="添加职务"
                                    onclick="location.href='emp-d.html?type=0'">
                                <i class="fa fa-file-o"></i> 添加职务
                            </button>
                            <button type="button" class="btn btn-default" title="删除" @click="deleteEmp"><i
                                    class="fa fa-trash-o"></i> 删除
                            </button>
                            <button type="button" class="btn btn-default" title="刷新"
                                    onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-tools pull-right">
                    <div class="has-feedback">
                            <input type="text" class="form-control input-sm" v-model="searchEmpname"
                                   @blur=""  placeholder="员工姓名"> <span
                             class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </div>
                <!--工具栏/-->

                <!--数据列表-->
                <table id="dataList"
                       class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                    <tr>
                        <th class="sorting_asc"></th>
                        <th class="sorting_desc">员工编号</th>
                        <th class="sorting_desc sorting_desc_disabled">员工姓名</th>
                        <th class="sorting_desc sorting_desc_disabled">所属部门</th>
                        <th class="sorting">性别</th>
                        <th  >联系电话</th>
                        <th class="text-center">入职日期</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="(emp) in  pageInfo.list" @dblclick="openDetail(emp.id)">
                        <td class="text-center"><input v-model="deleteId" name="ids" :value="emp.id" type="checkbox"></td>
                        <td class="text-center">{{emp.id}}</td>
                        <td class="text-center">{{emp.name}}</td>
                        <td class="text-center">{{emp.dept.deptName}}</td>
                        <td class="text-center">{{emp.gender}}</td>
                        <td class="text-center">{{emp.phone}}</td>
                        <td class="text-center">{{emp.hireDateStr}}</td>
                    </tr>
                    </tbody>
                    <!--
                <tfoot>
                <tr>
                <th>Rendering engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th>
                </tr>
                </tfoot>-->
                </table>
                <!--数据列表/-->

            </div>
            <!-- 数据表格 /-->

        </div>
        <!-- /.box-body -->

        <!-- .box-footer-->
        <div class="box-footer">
            <div class="pull-left">
                <div class="form-group form-inline">
                    总共{{pageInfo.pages}}页，共{{pageInfo.total-1}}条数据。 每页
                    <select class="form-control" v-model="pageInfo.pageSize"
                            @click="getAllEmpByPage(pageInfo.pageNum,pageInfo.pageSize)">
                        <option v-for="opt in options" :value="opt.value">{{opt.text}}</option>
                    </select> 条
                </div>
            </div>

            <div class="box-tools pull-right">
                <ul class="pagination">
                    <li>
                        <a href="javascript:;" @click="getAllEmpByPage(pageInfo.firstPage,pageInfo.pageSize)"
                           aria-label="Previous">首页</a>
                    </li>
                    <li><a href="javascript:;"
                           @click="getAllEmpByPage(pageInfo.prePage,pageInfo.pageSize)">上一页</a></li>
                    <li v-for="n in pageInfo.pages"><a href="javascript:;"
                                                       @click="getAllEmpByPage(n,pageInfo.pageSize)">{{n}}</a></li>
                    <li><a href="javascript:;"
                           @click="getAllEmpByPage(pageInfo.nextPage,pageInfo.pageSize)">下一页</a></li>
                    <li>
                        <a href="javascript:;" @click="getAllEmpByPage(pageInfo.lastPage,pageInfo.pageSize)"
                           aria-label="Next">尾页</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /.box-footer-->
    </div>
</section>
<!-- 正文区域 /-->

<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/js/vue/axios-0.18.0.js"></script>
<script src="/js/vue/vuejs-2.5.16.js"></script>
<script src="/js/common/entity.js"></script>
<script>
    new Vue({
        el:"#div1",
        data:{
            user:user,
            pageInfo:pageInfo,
            options: [
                {text: '4', value: '4'},
                {text: '6', value: '6'},
                {text: '8', value: '8'},
                {text: '10', value: '10'},
            ],
            deleteId:[],
            searchEmpname:""
        },
        methods:{
            getAllEmpByPage(pageNum, pageSize) {
               let _this = this;
                axios.post("/emp/query", {pageNum: pageNum, pageSize: pageSize}).then(function (res) {
                    if(res.data.code==0){
                        _this.pageInfo = res.data.data;
                    }
                });
            },
            openDetail(empId) {
                console.log(empId);
                return location.href="emp-d.html?type=1&empId=" + empId + "";
            },
            //删除员工
            deleteEmp(){
                let _this = this;
                axios.post("/emp/delete",_this.deleteId).then(function (res) {
                    if(res.data.data==1){
                        alert("删除成功");
                        window.location.reload();
                    }else{
                        alert("删除失败");
                    }
                });
            },
            toAddRole(userId){
                return "user-role-add.html?userId="+userId;
            },
        },


        created() {
            this.getAllEmpByPage(this.pageInfo.pageNum, this.pageInfo.pageSize);
        }
    });
</script>
</body>

</html>