<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.keji.mapper.purchase.PurchaseOrderMapper">

    <resultMap id="purchaseOrderMap" type="PurchaseOrder">
        <id column="tpo_Id" property="id"/>
        <result column="tpo_CreateDate" property="createDate"/>
        <result column="tpo_Price" property="price"/>
        <result column="tpo_Remark" property="remark"/>
        <result column="tpo_Sate" property="sate"/>
        <association property="operationEmp" javaType="Emp">
            <id property="id" column="oEmpId"/>
            <result property="name" column="oName"/>
        </association>
        <association property="createEmp" javaType="Emp">
            <id property="id" column="cEmpName"/>
            <result property="name" column="cName"/>
        </association>
        <association property="provider" javaType="TProvider">
            <id property="id" column="pId"/>
            <id property="name" column="pName"/>
        </association>
        <collection property="purchaseOrderDetailList" ofType="purchaseOrderDetail">
            <id column="tpod_id" property="id"/>
            <result column="tpod_gooNum" property="gooNum"/>
            <result column="tpod_gooTax" property="gooTax"/>
            <result column="tpod_gooTaxPrc" property="gooTaxPrc"/>
            <result column="tpod_gooOtherPrice" property="gooOtherPrice"/>
            <result column="tpod_gooTotalPrice" property="gooTotalPrice"/>
            <result column="tpod_gooRemark" property="gooRemark"/>
            <association property="repository" javaType="Repository">
                <id column="rId" property="id"/>
                <result column="rName" property="name"/>
            </association>
            <association property="good" javaType="Good">
                <id column="gID" property="id"/>
                <result column="gName" property="name"/>
            </association>
        </collection>
    </resultMap>
    
    <insert id="insertPurchaseOrder">
        INSERT INTO t_purchase_order(tpo_Id,tpo_CreateDate,tpo_posId,tpo_oEmpId,tpo_Price,tpo_cEmpId,tpo_Remark,tpo_Sate)
        VALUES(#{purchaseOrder.id},#{purchaseOrder.createDate},#{purchaseOrder.provider.id},#{purchaseOrder.operationEmp.id},#{purchaseOrder.price},
                #{purchaseOrder.createEmp.id},#{purchaseOrder.remark},#{purchaseOrder.sate}
        )
    </insert>

    <select id="queryPurchaseOrder" resultMap="purchaseOrderMap">
        SELECT
        tpo.tpo_Id, tpo.tpo_CreateDate, tpo.tpo_Price, tpo.tpo_Remark, tpo.tpo_Sate,
        te.id AS oEmpId,te.name AS oName,te.id AS cEmpName,te.name AS cEmpName,
        tp.pId,tp.pName,
        tpod.tpod_id,tpod.tpod_gooNum,tpod.tpod_gooTax,tpod.tpod_gooTaxPrc,tpod.tpod_gooOtherPrice,tpod.tpod_gooTotalPrice,tpod.tpod_gooRemark,
        tr.rId,tr.rName,tg.gID,tg.gName
        FROM t_purchase_order tpo
        LEFT JOIN t_emp te ON  tpo.tpo_oEmpId = te.id
        LEFT JOIN t_emp te1 ON  tpo.tpo_cEmpId = te1.id
        LEFT JOIN t_provider tp ON tpo.tpo_posId = tp.pId
        LEFT JOIN t_purchase_order_detail tpod ON tpo.tpo_Id=tpod.tpod_id
        LEFT JOIN t_repository tr ON tr.rId = tpod.tpod_rId
        LEFT JOIN t_goods tg ON tg.gID = tpod.tpod_gooId
        <where>
            <if test="orderId != null and orderId!=''">
               AND tpo.tpo_Id = #{orderId}
            </if>
            <if test="orderState != null and orderState!=''">
                AND tpo.tpo_Sate = #{orderState}
            </if>
        </where>
    </select>



</mapper>